# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
*.egg-info/

# Spark Checkpoints
/tmp/checkpoints/

# Airflow
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
